<form action="<%=students_path%>" method="POST">
  <label>Post title:</label><br>
  <input type="text" id="student_first_name" name="student[first_name]"><br>
 

  <input type="submit" value="Submit Post">
</form>
 
<%= params.inspect %>